
    <h2>New Task</h2>

    <%= render partial: "form", locals: { action_name: "Add task", form_method: :post, form_class: "update-button"} %>
    <!-- <ul>
      <%= form_for @task do |f| %>
      <li>
        <%= f.label :name, "Name: " %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :description, "Description: " %>
        <%= f.text_area :description, size: "60x12" %>
      </li>

      <%= f.submit "Add task" %>
      <% end %>
    </ul> -->


    <%= link_to '<-- Back to list', tasks_path, class: "home-button" %>
