
    <h2>New Task</h2>
    <ul>
      <%= form_for @task do |f| %>
      <li>
        <%= f.label :name, "naaaame" %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :description %>
        <%= f.text_area :description, size: "60x12" %>
      </li>
      <li>
        <%= f.label :completion_date, "Date Complete:" %>
        <%= f.date_field :completion_date %>
      </li>
      <%= f.submit "Add task" %>
      <% end %>
    </ul>
    <%= link_to 'Back to list', tasks_path %>
